@import "/src/app/scss/includes.scss";

.sticker-id {
  @include center;
  cursor: pointer;
  margin: 2px;
  padding: 1rem;
  height: 2rem;
  width: 5rem;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 4px;
  background: $color-background;
  border: 2px solid $color-primary;

  @include small-and-down {
    height: 3rem;
    width: 4rem;
  }

  span {
    color: $color-primary;
  }

  @include large-and-up {
    &:hover {
      border: 2px solid $color-primary;
      background-color: $color-primary;

      span {
        color: $color-white !important;
      }
    }
  }

  &.active {
    border: 2px solid $color-primary;
    background-color: $color-primary;

    span {
      color: $color-white !important;
    }
  }
}
