@import "/src/app/scss/includes.scss";

.sticker-id {
  @include center;
  cursor: pointer;
  margin: 2px;
  padding: 1rem;
  height: 2rem;
  width: 5rem;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 4px;
  background: $color-background;
  border: 2px solid $color-primary;

  @include small-and-down {
    height: 3rem;
    width: 4rem;
  }

  @include large-and-up {
    &:hover {
      border: 2px solid $color-primary;
      background-color: $color-primary;

      .code {
        color: $color-white !important;
      }
    }
  }

  &.active {
    border: 2px solid $color-primary;
    background-color: $color-primary;

    .code {
      color: $color-white !important;
    }
  }

  .code {
    color: $color-primary;
  }
}

// ANGULAR MATERIAL //

::ng-deep {
  .mat-badge-content {
    background-color: $color-secondary !important;
    color: $color-primary !important;
    @include z-index("sky");
  }

  .mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
    right: 0px;
    top: -15px;
  }
}

// ANGULAR MATERIAL //
