@import "../../scss/includes.scss";

mat-form-field {
  width: 100%;
}

.error {
  color: $color-error !important;
}

.disabled {
  color: $color-disabled !important;

  &:hover {
    cursor: no-drop !important;
  }
}
