<nav class="main-menu" *ngIf="!isMobile && !scrolled" [@appeard]="state">
  <ul>
    <li routerLinkActive="li-highlight">
      <a routerLink="/home" routerLinkActive="text-highlight">
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text"> Início </span>
      </a>
    </li>
    <li routerLinkActive="li-highlight">
      <a routerLink="/maps" routerLinkActive="text-highlight">
        <i class="fa fa-map-marker fa-2x"></i>
        <span class="nav-text"> Mapas </span>
      </a>
    </li>
    <li routerLinkActive="li-highlight">
      <a routerLink="/notifications" routerLinkActive="text-highlight">
        <i class="fa fa-bell fa-2x"></i>
        <span class="nav-text"> Notificações </span>
      </a>
    </li>
    <li routerLinkActive="li-highlight">
      <a routerLink="/profile" routerLinkActive="text-highlight">
        <i class="fa fa-user-circle fa-2x"></i>
        <span class="nav-text"> Perfil </span>
      </a>
    </li>
    <li routerLinkActive="li-highlight">
      <a routerLink="/dashboard" routerLinkActive="text-highlight">
        <i class="fa fa-bar-chart-o fa-2x"></i>
        <span class="nav-text"> Dashboard </span>
      </a>
    </li>
    <li routerLinkActive="li-highlight">
      <a routerLink="/docs" routerLinkActive="text-highlight">
        <i class="fa fa-folder-open fa-2x"></i>
        <span class="nav-text"> Documentos </span>
      </a>
    </li>
    <li routerLinkActive="li-highlight">
      <a routerLink="/notes" routerLinkActive="text-highlight">
        <i class="fa fa-font fa-2x"></i>
        <span class="nav-text"> Anotações </span>
      </a>
    </li>
    <li routerLinkActive="li-highlight">
      <a routerLink="/info" routerLinkActive="text-highlight">
        <i class="fa fa-info fa-2x"></i>
        <span class="nav-text"> Informações </span>
      </a>
    </li>
  </ul>

  <ul class="logout">
    <li>
      <a (click)="logout()">
        <i class="fa fa-power-off fa-2x"></i>
        <span class="nav-text"> Sair </span>
      </a>
    </li>
  </ul>
</nav>
