<div class="menu" *ngIf="stickers">
  <mat-tab-group>
    <mat-tab label="Coleção">
      <div class="dashboard">
        <div class="group">
          <p class="label">Colecionadas - {{ getCollectPercent() | number : '1.2-2' }}%</p>
          <p class="sticker">{{ getCollected() }} de {{ stickers.length }} figurinhas</p>
          <mat-progress-bar mode="determinate" [value]="getCollectPercent()"></mat-progress-bar>
        </div>

        <div class="group">
          <p class="label">Faltantes - {{ getMissingPercent() | number : '1.2-2' }}%</p>
          <p class="sticker">{{ getMissing() }} de {{ stickers.length }} figurinhas</p>
          <mat-progress-bar mode="determinate" [value]="getMissingPercent()"></mat-progress-bar>
        </div>

        <div class="status">
          <div class="group group-status mr-5">
            <p class="label">Valor por pacotinho</p>
            <p class="sticker">R$ 4,00</p>
          </div>

          <div class="group group-status mr-5">
            <p class="label">Valor por figurinha</p>
            <p class="sticker">R$ 0,80</p>
          </div>

          <div class="group group-status mr-5">
            <p class="label">Total de figurinhas</p>
            <p class="sticker">{{ getTotal() }}</p>
          </div>
          
          <div class="group group-status mr-5">
            <p class="label">Total de pacotinhos</p>
            <p class="sticker">{{ (getTotal() / 5) }}</p>
          </div>

          <div class="group group-status mr-5">
            <p class="label">Total gasto</p>
            <p class="sticker">{{ (getTotal() * (0.8)) | currency:'BRL':true:'1.2-2' }}</p>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Repetidas">
      <div class="core">
        <div class="text">
          <p>Digite o código da figurinha repetida para pesquisar.</p>
        </div>

        <div class="input">
          <i class="fa fa-search mr-3"></i>

          <app-input 
            type="text" 
            [isSearch]="true" 
            [required]="false" 
            [form]="stickerForm" 
            label="ID da figurinha"
            control="stickerControl" 
            placeholder="Pesquisar figurinha...">
          </app-input>
        </div>
      </div>

      <div class="dashboard">
        <div *ngIf="repeated.length" class="row">
          <ng-container *ngFor="let sticker of repeated">
            <app-sticker 
              [@appeard]="state"
              [sticker]="sticker" 
              [isRepeated]="true"
              (toggleEvent)="updateStickers()">
            </app-sticker>
          </ng-container>
        </div>

        <div class="group repeated">
          <p class="label">Repetidas</p>
          <p class="sticker">{{ getRepeatedTotal() }} figurinhas</p>
        </div>

        <div class="button">
          <button 
            mat-button 
            (click)="resetData()">
            <i class="fa fa-undo mr-2"></i> 
            Redefinir progresso
          </button>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>