<div class="menu" *ngIf="stickers">
  <mat-tab-group>
    <mat-tab label="Coleção">
      <div class="dashboard">
        <div class="group">
          <p class="label">Colecionadas - {{ getCollectPercent() | number : '1.2-2' }}%</p>
          <p class="sticker">{{ getCollected() }} de {{ stickers.length }} figurinhas</p>
          <mat-progress-bar mode="determinate" [value]="getCollectPercent()"></mat-progress-bar>
        </div>

        <div class="group">
          <p class="label">Faltantes - {{ getMissingPercent() | number : '1.2-2' }}%</p>
          <p class="sticker">{{ getMissing() }} de {{ stickers.length }} figurinhas</p>
          <mat-progress-bar mode="determinate" [value]="getMissingPercent()"></mat-progress-bar>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Repetidas">
      <div class="core">
        <div class="text">
          <p>Digite o código da figurinha repetida para pesquisar.</p>
        </div>

        <div class="input">
          <i class="fa fa-search mr-3"></i>

          <app-input 
            type="text" 
            [isSearch]="true" 
            [required]="false" 
            [form]="stickerForm" 
            label="ID da figurinha"
            control="stickerControl" 
            placeholder="Pesquisar figurinha...">
          </app-input>
        </div>
      </div>

      <div class="dashboard">
        <div class="group">
          <p class="label">Repetidas</p>
          <p class="sticker">50 figurinhas</p>
        </div>

        <div class="button">
          <app-button 
          (click)="resetData()"
          icon="fa fa-undo mr-2" 
          label="Resetar meu progresso">
          </app-button>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>