@import "/src/app/scss/includes.scss";

.root {
  @include grid(32);

  .container {
    @include grid-column-span(32);
    margin-bottom: 2rem;
    margin-top: 6rem;

    .content {
      border: 0px;
      padding: 64px;
      border-radius: 0.8rem;
      margin: 24px 0 24px 0;
      box-shadow: 2px 4px 8px 0 $color-shadow;

      @include large-and-down {
        padding: 32px;
      }
    }

    .loading {
      @include center;
      @include large-and-down {
        margin-top: 2rem;
      }

      margin-top: 4rem;
    }
  }
}
