<app-header></app-header>

<div class="root">
  <div class="container">
    <div 
      class="content"
      [@appeard]="state"
      *ngIf="sections.length && !loading">
      
      <app-profile 
        [profile]="profile">
      </app-profile>

      <app-section 
        [sections]="sections">
      </app-section>

      <app-menu 
        [stickers]="stickers" 
        [sections]="sections"
        (resetEvent)="resetData()">
      </app-menu>
    </div>

    <div class="loading">
      <app-spinner 
        *ngIf="loading" 
        [size]="1.3"
        [@appeard]="state"
        label="Carregando..." >
      </app-spinner>
    </div>
  </div>
</div>