@import "app/scss/includes.scss";

// ANGULAR MATERIAL //

@import "~@angular/material/theming";
@include mat-core();

$gerenciador-primary: mat-palette($mat-indigo);
$gerenciador-accent: mat-palette($mat-pink, A200, A100, A400);
$gerenciador-warn: mat-palette($mat-red);
$gerenciador-theme: mat-light-theme(
  (
    color: (
      primary: $gerenciador-primary,
      accent: $gerenciador-accent,
      warn: $gerenciador-warn,
    ),
  )
);

@include angular-material-theme($gerenciador-theme);

// ANGULAR MATERIAL //

// GENERALS //

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
label,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
  color: $color-text !important;
  font-family: $font-montserrat !important;
}

p {
  font-family: $font-montserrat !important;
  color: $color-text !important;
  line-height: 1.25;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: $color-background-secondary !important;
  font-family: $font-montserrat !important;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  line-height: 1.25;
  font-size: 16px;
  height: 100%;
  margin: 0;
}

img {
  vertical-align: baseline;
  max-width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

::selection {
  background: $color-primary;
  color: $color-white;
}

a {
  color: $color-text !important;
  text-decoration: none !important;
  transition: transform 0.1s;
  transform: scale(1);

  @include large-and-up {
    &:hover {
      transform: scale(1.1);
    }
  }
}

.color-primary {
  color: $color-primary !important;
}

.spinner-center-page {
  position: absolute;
  left: 50%;
  top: 50%;
}

// GENERALS //

// ANGULAR MATERIAL //

.mat-form-field-wrapper {
  margin-bottom: -1rem !important;
}

.mat-input-invalid .mat-input-placeholder {
  color: $color-error;
}

.mat-input-invalid .mat-input-ripple {
  background-color: $color-error;
}

.mat-divider {
  margin-top: 0.2rem !important;
}

.tooltip-primary {
  @include z-index("universe");
  font-size: 0.7rem;
  color: $color-white !important;
  background: $color-primary !important;
}

.mat-expansion-panel {
  background: $color-background;
}

.mat-expansion-panel-header {
  font-family: $font-montserrat !important;
}

.mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"])
  .mat-expansion-panel-header:hover {
  @include large-and-down {
    background: $color-background;
  }
}

.mat-expansion-panel:not(.mat-expanded) {
  &:not([aria-disabled="true"]) {
    .mat-expansion-panel-header {
      @include large-and-down {
        &:hover {
          background: $color-background;
        }
      }
    }
  }
}

// ANGULAR MATERIAL //

// SWEET ALERT //

.swal2-title {
  color: $color-text !important;
}

.swal2-html-container {
  color: $color-text !important;
}

.swal2-popup .swal2-styled {
  &:focus {
    box-shadow: none !important;
  }
}

// SWEET ALERT //
