<div class="root">
  <nav class="navbar" [@slide]="state">
    <div class="container-fluid">
      <div class="content" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">
        <i [class]="class"></i>
        <div>
          <span>Gerenciador de Figurinhas</span>
          <br>
          <span>Álbum da Copa do Mundo 2022</span>
        </div>
      </div>
      <div class="logout" (click)="logout()">
        <i class="fa fa-power-off mr-2"></i>
        <span>Sair</span>
      </div>
    </div>
  </nav>
</div>